<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>

<hr class="my-6">

<div class="container">
    <div class="row text-ceter">
        <h1> Headlines From Around the Country </h1>
    </div>
</div>

<hr class="my-6">


<div class="row row-cols-1 row-cols-md-3">
  <% for each_article in @articles %>
    <div class="col mb-4">
        <div class="card h-100">
        <img src="<%= each_article["urlToImage"] %>" class="card-img-top" alt="default.png">
            <div class="card-body">
                    <h5 class="card-title"> <%= each_article["title"] %> </h5>
                    <p class="card-text"> <%= each_article["description"] %> </p>
            </div>
            <div class= "card-footer text-center">
                <a href="<%= each_article["url"] %>"" class="btn btn-primary"> Read more </a>
            </div>
        </div>
    </div>
  <% end %>
</div>


  <hr class="my-4">
    
    <div class= "container fluid">
        <div class = "row">
            <h4> Current temperature for today is <%= @current["temp"] %> F <h4>
            <h4> on  <%= Time.at(@current["dt"]).strftime("%m/%d") %> <h4>
        </div>
    </div>
    
    <div class= "container fluid">
        <div class = "row">
                    <h5> Forecast for the next 6 days </h5>
        </div>
        <div class= "row">
            <% for day in @fiveday_temp %>
            <div class = "col-sm-2 text center">
                <div class = "card">
                    <img src="deck.png" class="card-img-top" alt="default.png" >
                </div>
                <div class = "card-body">
                    <h6> <%= Time.at(day["dt"]).strftime("%m/%d") %>  </h6>
                    <h6> Avg <%=day["temp"]["day"] %>F </h6>
                    <h6> Min <%=day["temp"]["min"]%>F </h6>
                    <h6> Max of <%= day["temp"]["max"] %>F  </h6>
                </div>
            </div>
            <% end %>
       </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>